<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Titanic" data-toc-modified-id="Titanic-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Titanic</a></span></li><li><span><a href="#Email-spam-detection" data-toc-modified-id="Email-spam-detection-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Email spam detection</a></span></li><li><span><a href="#Excercise" data-toc-modified-id="Excercise-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Excercise</a></span></li></ul></div>

### Titanic

In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [2]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [4]:
X = df.loc[:, df.columns != 'Survived']
y = df['Survived']

In [5]:
dummies = pd.get_dummies(X['Sex'])
X = pd.concat([X, dummies], axis=1)
X.drop(['Sex'], axis=1,inplace=True)
X.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     714 non-null    float64
 2   Fare    891 non-null    float64
 3   female  891 non-null    uint8
 4   male    891 non-null    uint8
dtypes: float64(2), int64(1), uint8(2)
memory usage: 22.7 KB

In [8]:
interpolation = X['Age'].interpolate()

X['Age'] = X['Age'].fillna(interpolation)

In [9]:
X['Age'] = X['Age'].astype(int)
X['Fare'] = X['Fare'].astype(int)

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     891 non-null    int32
 2   Fare    891 non-null    int32
 3   female  891 non-null    uint8
 4   male    891 non-null    uint8
dtypes: int32(2), int64(1), uint8(2)
memory usage: 15.8 KB

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, train_size=0.8)

In [12]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [13]:
model.fit(X_train, y_train)

GaussianNB()

In [14]:
model.score(X_test, y_test)

0.8100558659217877

In [15]:
X_test[:10]

     Pclass  Age  Fare  female  male
886       2   27    13       0     1
22        3   15     8       1     0
179       3   36     0       0     1
542       3   11    31       1     0
528       3   39     7       0     1
790       3   31     7       0     1
164       3    1    39       0     1
262       1   52    79       0     1
466       2   47     0       0     1
2         3   26     7       1     0

In [16]:
y_test[:10]

886    0
22     1
179    0
542    0
528    0
790    0
164    0
262    0
466    0
2      1
Name: Survived, dtype: int64

In [17]:
model.predict(X_test[:10])

array([0, 1, 0, 1, 0, 0, 0, 0, 0, 1], dtype=int64)

In [19]:
model.predict_proba(X_test[:10])

array([[0.97600092, 0.02399908],
       [0.07774128, 0.92225872],
       [0.98929418, 0.01070582],
       [0.06301128, 0.93698872],
       [0.98998679, 0.01001321],
       [0.98962929, 0.01037071],
       [0.97284115, 0.02715885],
       [0.60449017, 0.39550983],
       [0.97520358, 0.02479642],
       [0.09394817, 0.90605183]])

### Email spam detection

In [21]:
df_spam = pd.read_csv('spam.csv')
df_spam

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [23]:
df_spam.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [24]:
df_spam['spam'] = df_spam['Category'].apply(lambda x: 1 if x=='spam' else 0)
df_spam.drop('Category', axis=1, inplace=True)
df_spam

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_spam.Message, df_spam.spam, test_size=0.25, train_size=0.75)

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [27]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count, y_train)

MultinomialNB()

In [28]:
emails = [
    'Hey mohan, can we get together to watch football game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [29]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9921033740129217

In [30]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [31]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [32]:
clf.score(X_test, y_test)

0.9921033740129217

In [33]:
clf.predict(emails)

array([0, 1], dtype=int64)

### Excercise

1. Use wine dataset from sklearn.datasets to classify wines into 3 categories.
2. Load dataset and split into train - test
3. Train the model using Gaussian and Multinominal classifier, which model performs better?
4. Use trained model to make predictions on test data.

In [34]:
from sklearn.datasets import load_wine
wine = load_wine()

df_wine = pd.DataFrame(wine.data, columns=wine.feature_names)
df_wine.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [35]:
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
dtypes: float64(13)
memory usage: 18.2 KB

In [38]:
df_wine['target'] = wine.target

In [46]:
X = df_wine.loc[:, df_wine.columns != 'target']
y = df_wine['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, train_size=0.70)

In [47]:
from sklearn.naive_bayes import GaussianNB
model_wine_gaussian = GaussianNB()

from sklearn.naive_bayes import MultinomialNB
model_wine_multi = MultinomialNB()

In [49]:
model_wine_gaussian.fit(X_train, y_train)

GaussianNB()

In [50]:
model_wine_multi.fit(X_train, y_train)

MultinomialNB()

In [51]:
model_wine_gaussian.score(X_test, y_test)

0.9629629629629629

In [52]:
model_wine_multi.score(X_test, y_test)

0.8333333333333334

Gaussian > Multinomial for our Naive Bayes classification. The wine datasets features have continuous values so it makes sense that Gaussian is performing.

In [53]:
X_test[:10]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
38,13.07,1.50,2.10,15.5,98.0,2.40,2.64,0.28,1.37,3.70,1.18,2.69,1020.0
63,12.37,1.13,2.16,19.0,87.0,3.50,3.10,0.19,1.87,4.45,1.22,2.87,420.0
139,12.84,2.96,2.61,24.0,101.0,2.32,0.60,0.53,0.81,4.92,0.89,2.15,590.0
168,13.58,2.58,2.69,24.5,105.0,1.55,0.84,0.39,1.54,8.66,0.74,1.80,750.0
156,13.84,4.12,2.38,19.5,89.0,1.80,0.83,0.48,1.56,9.01,0.57,1.64,480.0
67,12.37,1.17,1.92,19.6,78.0,2.11,2.00,0.27,1.04,4.68,1.12,3.48,510.0
140,12.93,2.81,2.70,21.0,96.0,1.54,0.50,0.53,0.75,4.60,0.77,2.31,600.0
142,13.52,3.17,2.72,23.5,97.0,1.55,0.52,0.50,0.55,4.35,0.89,2.06,520.0
7,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295.0
65,12.37,1.21,2.56,18.1,98.0,2.42,2.65,0.37,2.08,4.60,1.19,2.30,678.0

In [54]:
model_wine_gaussian.predict(X_test[:10])

array([0, 1, 2, 2, 2, 1, 2, 2, 0, 1])

In [55]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')